.App {
  margin: 12px;
}

.tenant {
  width: 40px;
  height: 40px;
  background: lightgray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.tenant-active {
  width: 40px;
  height: 40px;
  background: lightgray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.tenant .tenant-tooltip,
.tenant-active .tenant-tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.tenant:hover .tenant-tooltip,
.tenant-active:hover .tenant-tooltip {
  opacity: 1;
}
