.list-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 1000px;
  width: 400px;
  margin: 0;
  padding: 20px 0;
  gap: 20px;
  border: 1px solid rgb(235, 235, 235);
}

.default-list-item {
  width: 300px;
  list-style: none;
  margin: 0 20px;
  box-shadow: 0.2px 0.5px 1px 0 rgba(0, 0, 0, 0.6);
  padding: 12px;
  transform: translateX(0);
  cursor: pointer;
}
.default-list-item:hover {
  background-color: lightblue;
  color: white;
}

.active-list-item {
  transform: translateX(12px);
  width: 300px;
  background-color: lightblue;
  cursor: pointer;
  margin: 0 20px;
  box-shadow: 0.2px 0.5px 1px 0 rgba(0, 0, 0, 0.6);
  padding: 12px;
  color: white;
}
